.titlebg{
    padding-top: 20px;
    background-color: #012a35;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titlebtn{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #BE5869;
    height: 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 6px;
}
.titlebtn:hover{
    background: #fc00ff;
    transform: translate(0px,-5px);
    transition: 0.5s;
}